# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/
log.txt
test_st.py

# OS
Thumbs.db
Desktop.ini
.DS_Store
